.box1 {
	background-color: #000;
    position: relative;
    bottom: 97px;
    height: 860px;
}
.comida {
	position: relative;
	left: 442px;
}
.buho {
	position: relative;
    top: 100px;
}
.imgRandom {
	position: relative;
    left: 264px;
    bottom: 808px;
}
.imagePasteles {
	position: relative;
    left: 446px;
    bottom: 901px;

}